*{border-collapse:collapse;
	margin:0;
	padding:0;
}
html{
	margin:0px;
	padding:0px;	
	height:100%;
	overflow:auto;
}
body{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:auto;
	background:#f2f2f2;
}

h2 {
	font-size:24px;
    margin-left:15px;
	margin-top:0px;
	text-decoration:underline;
	font-family:Verdana,sans-serif;
	font-weight:200;
	text-transform:uppercase;
	letter-spacing: 2px;
}
a { 
	text-decoration: none;
}

/* Стиль для основного контейнера */
#container{
	position:relative;
	margin: 0 auto;
	overflow:hidden;
	min-height:100%;
	padding:0;
}

/* открыт header */
.header{
	height:90px;
	background:#28292E;
	}
.divBtn1 {
	float:right;
	padding-top:25px;
	padding-left:25px;
	padding-right:80px;
	}
.divBtn1 a {
	text-decoration:none;
	}
.btn1 {
	background-color:#843f3a;
	width:110px;
	height:35px;
	border-radius:30px;	 
	border:1px;
	border-color:#843f3a;
	color:#fff;
	font-family:Verdana,sans-serif;
	font-size:12pt;
	}
.btn1:hover{
	color:#843f3a;
	background-color:#fff;
	border-color:#843f3a;
	cursor:pointer;
	}
.divMenu {
	float:right;
	padding-top:30px;
	}
.spisokMenu li {	
	display: inline;
	font-size:14px;
	padding-right:30px;
	font-family:Arial;
	font-weight:600;
	}
.spisokMenu a {
	text-decoration:none;
	color:white;
	}
.spisokMenu a:hover {
	color:#e2554b;
	}
.divLogoMenu {
	display:none;
	}	
.divLogo {
	padding-left:20px;
	padding-top:5px;
	}
.logo {
	width:85px;
	height:80px;
	}
.logoMenu {
	width:70px;
	height:70px;
	margin-top:10px;
	}
/* закрыт header */
	
/* открыт divSpisokMenu2 */
#divSpisokMenu2 {
	display:none;
	padding-top:15px;
	padding-bottom:5px;
	}
.spisokMenu2 li {
	margin-left:30px;
	margin-bottom:10px;
	font-size:14px;
	font-family:Arial;
	list-style-type: none;
	}
.spisokMenu2 a {
	text-decoration:none;
	color:black;
	}
.spisokMenu2 a:hover {
	color:#e2554b;
	}
/* закрыт divSpisokMenu2 */

/* Стиль для элементов content */
#content{
	margin:0;
	overflow:hidden;
	background-size: ;
	font-family: 'Lato', sans-serif;
	}

/*Большая картинка*/
.row {
	background: rgba(40,41,46, 0.5);
	padding:30px;
	}
.row p {
   	text-align: center;
	border: 1px solid white; /* Толщина рамки в пикселах, тип границы (в данном случае сплошная линия) и цвет линии */ 
	padding: 30px; /* Расстояние от текста до рамки */ 
	font-family: Verdana,sans-serif;
	letter-spacing: 2px;
	color:white;
	font-size:30pt;
	text-shadow: black 1px 2px 3px;
	}
.fon1 {
	padding-top:50px;
	padding-left:20%;
	padding-right:20%;
	padding-bottom:50px;
	height:55%;
	}

/*---------------------------------Фоны--------------------*/
#fon_haccp {
	background: #000 url(2.logo/haccp-f1.jpg) 100%;
    background-size:cover;
}	

#fon_vetsan {
	background: #000 url(2.logo/vetsan_f1.jpg) 100%;
    background-size:cover;
}	

#fon_vetsan {
	background: #000 url(2.logo/vetsan_f1.jpg) 100%;
    background-size:cover;
}	

#fon_dom {
	background: #000 url(2.logo/dom_nap_f1.jpg) 100%;
    background-size:cover;
}	

#fon_per {
	background: #000 url(2.logo/fon_perev.jpg) 100%;
    background-size:cover;
}

#fon_kachestvo{
	background: #000 url(2.logo/kach_f1.jpg) 100%;
    background-size:cover;
}

#fon_kanditer{
	background: #000 url(2.logo/kanditer_f1.jpg) 100%;
    background-size:cover;
}

#fon_alcog{
	background: #000 url(2.logo/alc_f1.jpg) 100%;
    background-size:cover;
}

#fon_obshep{
	background: #000 url(2.logo/obsh_f1.jpg) 100%;
    background-size:cover;
}

#fon_pivo{
	background: #000 url(2.logo/pivo_f1.jpg) 100%;
    background-size:cover;
}

#fon_micro{
	background: #000 url(2.logo/micro_f1.jpg) 100%;
    background-size:cover;
}

#fon_povar{
	background: #000 url(2.logo/povar_f1.jpg) 100%;
    background-size:cover;
}

#fon_somele{
	background: #000 url(2.logo/som_f1.jpg) 100%;
    background-size:cover;
}


#fon_specpit{
	background: #000 url(2.logo/specpit_f1.jpg) 100%;
    background-size:cover;
}

#fon_hleb{
	background: #000 url(2.logo/hleb_f1.jpg) 100%;
    background-size:cover;
}

#fon_ped{
	background: #000 url(2.logo/ped_f1.jpg) 100%;
    background-size:cover;
}


/*------------------------------------------------------------*/	
/* Стиль для элементов footer */
#footer{
	position:absolute;
	bottom:0;
	background:#28292E;
	width:100%;
	height:35px;
	}
#footer p{
	padding-top:10px;
	padding-left:20px;
	color:#808080;
	font-family:Arial;
	font-size:12px;
}
#rasporka { 
	height:35px;
	}	
/*-----------------------------------Новые стили*/	
.cont {
	background:white;
	width: 90%;
	margin: 2em auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	overflow:hidden;
}
.zag {
	
	}
.zag p{
	color:#ab332b;
	font-size:22pt;
	font-family:Verdana,sans-serif;
	font-weight:200;
	text-transform:uppercase;
	letter-spacing: 3px;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
	}
.hr1{
    background-color:#ab332b;
    height:2px;
    width:84%;
	margin-left:8%;
	margin-right:8%;
	margin-bottom:10px;
    }
.fff {
	text-align:justify;
	width:100%;
	padding-top:20px;
	overflow:inherit;
	min-height:300px;
	margin-bottom:10px;
}
.fff p {
	padding-top:20px;
	font-size:14pt;
	font-family:Verdana,sans-serif;
	color:#696969;
}
.block1 {
	float:left;
	width:46%;
	background:white;
	overflow:inherit;
	padding-left:3%;
	padding-right:1%;
}
.block2 {
	float:right;
	width:46%;
	background:white;
	overflow:inherit;
	padding-right:3%;
	padding-left:1%;
}
.img{
	overflow:inherit;
	width:100%;
}
.li_1 {
	margin-bottom:15px;
	font-size:14pt;
	font-family:Verdana,sans-serif;
	color:#696969;
}
.li_1 li{
	padding-top:10px;
	margin-left:35px;
	margin-right:30px;
	list-style-type: none;
}
.li_1 li:before {
    color: #ab332b; /* Цвет маркера */
    content: "✔"; /* Сам маркер */
    padding-right: 15px; /* Расстояние от маркера до текста */
}

.oplata {
	width:100%;
	height:90px;
	text-align:center;
	}
.oplata p {
	font-size:15px;
	padding-top:10px;
	margin-left:15px;
	margin-right:20px;
}

.op1 {
	height:150px;
	background:#27282d;
	width:50%;
	float:left;
} 
.op2 {
	height:150px;
	background:#843f3a;
	width:25%;
	float:left;
}   
.op3 {
	height:150px;
	background:#e2554b;
	width:25%;
	float:left;
}   
.bt {
	background:#843f3a;
	width:180px;
	height:60px;
	border-radius: 30px;	 
	border:2px;
	border-color:#ffffff;
	margin-top:15%;
	color:white;
	font-family:Verdana,sans-serif;
	font-size:12pt;
}	
.bt:hover{
	color:#843f3a; 
	background:#ffffff;
}
#h12{
	color:white;
	font-family:Verdana,sans-serif;
	font-size:18pt;
	text-shadow: 0 2px 5px black;
}
#h11{
	color:white;
	font-family:Verdana,sans-serif;
	font-size:14pt;
	text-shadow: 0 2px 5px black;
	margin-top:7px;
}


/*----------------------Преподаватели---------------*/
.pr {
   width:33%;
   float:left;
   text-align:center;
   margin-top:10px;
  
} 


.prep{
	height:250px;
	  
}


/* Стиль при 1280рх */
@media screen and (max-width:1280px){ 

.fon1{
background-repeat:no-repeat;	
height:30%;
padding-left:10%;
padding-right:10%;
}

.row p {	
	font-size:22pt;
		}
}


/* Стиль при 1250рх */
@media screen and (max-width:1250px){
.divMenu {
	display:none;
	}
.divLogoMenu {
	display:block;
	float:left;
}
.fon1{
background-repeat:no-repeat;	
height:30%;
padding-left:10%;
padding-right:10%;
}

.row p {	
	font-size:20pt;
		}
		
#h12{
	font-size:14pt;	
}

#h11{
	font-size:14pt;	
}

.op1 {
	width:40%;
} 
.op2 {
	width:30%;
}   
.op3 {
	width:30%;
	}
	
.bt {
	
	width:200px;
	height:50px;
	font-family:Verdana,sans-serif;
	font-size:12pt;	
}

h2 {
	font-size:14px;
}

.fff p {
	font-size:13pt;
}

.li_1 {
	font-size:13pt;
	}
	
.prep{
	height:170px;	  
}
		
		
}

/* Стиль при 1120рх */
@media screen and (max-width:1120px){
.divMenu {
	display:none;
	}
.divLogoMenu {
	display:block;
	float:left;
}
.fon1{
background-repeat:no-repeat;	
height:40%;
padding-left:10%;
padding-right:10%;
}

.row p {	
	font-size:18pt;
		}
		#h12{
	font-size:11pt;	
}

#h12{
	font-size:13pt;	
}

#h11{
	font-size:13pt;	
}

.op1 {
	width:40%;
} 
.op2 {
	width:30%;
}   
.op3 {
	width:30%;
	}
	
.bt {
	
	width:150px;
	height:50px;
	font-family:Verdana,sans-serif;
	font-size:13pt;	
}

h2 {
	font-size:14px;
}

.fff p {
	font-size:12pt;
}

.li_1 {
	font-size:12pt;
	}
	
.prep{
	height:200px;	  
}
		
}


/* Стиль при 620рх */
@media screen and (max-width:620px){
.divMenu {
	display:none;
	}
.divLogoMenu {
	display:block;
	float:left;
	}
	
.divLogo {
	padding-left:80px;
	padding-top:10px;
	}
.logo {
	width:75px;
	height:70px;
	}
	
.fon1{
height:35%;
padding-left:10%;
padding-right:10%;
}

.row p {	
	font-size:14pt;
		}
		
#h12{
	font-size:11pt;	
}

#h11{
	font-size:11pt;	
}

.op1 {
	width:40%;
} 
.op2 {
	width:30%;
}   
.op3 {
	width:30%;
	}
	
.bt {
	
	width:100px;
	height:50px;
	font-family:Verdana,sans-serif;
	font-size:11pt;	
}

h2 {
	font-size:14px;
}

.fff p {
	font-size:11pt;
}

.li_1 {
	font-size:11pt;
	}
	
.prep{
	height:150px;	  
}
}


/* Стиль при 480рх */
@media screen and (max-width:480px){
.divMenu {
	display:none;
	}
.divLogoMenu {
	display:block;
	float:left;
	}
.divLogo {
	padding-left:80px;
	padding-top:10px;
	}
.logo {
	width:75px;
	height:70px;
	}
	
.fon1{
height:35%;
padding-left:10%;
padding-right:10%;
}

.row p {	
	font-size:14pt;
		}
		
#h12{
	font-size:11pt;	
}

#h11{
	font-size:11pt;	
}

.op1 {
	width:40%;
} 
.op2 {
	width:30%;
}   
.op3 {
	width:30%;
	}
	
.bt {
	
	width:100px;
	height:50px;
	font-family:Verdana,sans-serif;
	font-size:11pt;	
}

h2 {
	font-size:14px;
}

.fff p {
	font-size:11pt;
}

.li_1 {
	font-size:11pt;
	}
	
.prep{
	height:150px;	  
}


/* Стиль при 360рх */
@media screen and (max-width:360px)



/* Стиль при 320рх */
@media screen and (max-width:320px)



/* Стиль при 240рх */
@media screen and (max-width:240px)
	
	