* {
	border-collapse:collapse;
	margin:0;
	padding:0;
	}
html{
	margin:0px;
	padding:0px;	
	height:100%;
	overflow:auto;
	}
body{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:auto;
	background:#f2f2f2;
	}
hr {
	margin-left:5%;
	width:85%;
	background-color:#ab332b;
	color:#ab332b;
	height:1px;
	}
	
a {
	text-decoration: none;
	}
	
/* открыт container */
.container{
	margin:0;
	padding:0;
	overflow:hidden;
	min-height:100%;
	position:relative;
	}
/* закрыт container */

/* открыт header */
.header{
	height:90px;
	background:#28292E;
	}
.divBtn1 {
	float:right;
	padding-top:25px;
	padding-left:25px;
	padding-right:80px;
	}
.divBtn1 a {
	text-decoration:none;
	}
.btn1 {
	background-color:#843f3a;
	width:110px;
	height:35px;
	border-radius:30px;	 
	border:1px;
	border-color:#843f3a;
	color:#fff;
	font-family:Verdana,sans-serif;
	font-size:12pt;
	}
.btn1:hover{
	color:#843f3a;
	background-color:#fff;
	border-color:#843f3a;
	cursor:pointer;
	}
.divMenu {
	float:right;
	padding-top:30px;
	}
.spisokMenu li {	
	display:inline;
	font-size:12pt;
	padding-right:30px;
	font-family:Arial;
	font-weight:600;
	}
.spisokMenu a {
	text-decoration:none;
	color:white;
	}
.spisokMenu a:hover {
	color:#e2554b;
	}
.divLogoMenu {
	display:none;
	float:left;
	}	
.divLogo {
	padding-left:20px;
	padding-top:5px;
	}
.logo {
	width:85px;
	height:80px;
	}
.logoMenu {
	width:70px;
	height:70px;
	margin-top:10px;
	}
/* закрыт header */

/* открыт divSpisokMenu 2,3,4 */
#divMenu2 {
	display:none;
	padding-top:15px;
	padding-bottom:5px;
	}
.divMenu3 {
	display:none;
	float:right;
	padding-top:30px;
	}
.divMenu4 {
	display:none;
	float:right;
	padding-top:30px;
	}
.divMenu5 {
	display:none;
	}
.spisokMenu2 li {
	margin-left:30px;
	margin-bottom:10px;
	font-size:14pt;
	font-family:Arial;
	list-style-type: none;
	}
.spisokMenu2 a {
	text-decoration:none;
	color:black;
	}
.spisokMenu2 a:hover {
	color:#e2554b;
	}
/* закрыт divSpisokMenu 2,3,4 */

/* открыт content */
.content {
	margin:0;
	overflow:hidden;
	font-family: 'Lato', sans-serif;
	}
/* закрыт content */
	
/* открыт divFon */
.divFon {
	background:#000 url(2.logo/fon2_3.png);
	background-size:cover;
	padding-top:5%;
	padding-left:20%;
	padding-right:20%;
	padding-bottom:5%;
	margin-bottom:2%;
	}
/* закрыт divFon */

/* открыт divForm */
.divForm {
	background:rgba(242, 242, 242, 0.8);
	padding:2%;
	}
.divForm p {
   	color:black;
	font-size:18pt;
	text-align:center;
	font-family:Arial;
	margin-bottom:1%;
	}
.rowForm {
	overflow:hidden;
	margin-left:15%;
	margin-right:15%;
	}
.form-control {
	float:left;
	width:31%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	margin-top:1%;
	margin-bottom:1%;
	margin-right:2%;
	border-radius:3px;
	border-width:1px;
	font-family:Arial;
	font-size:10pt;
	}
.form_message {
	width:97%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	margin-top:1%;
	margin-bottom:1%;
	margin-right:2%;
	border-radius:3px;
	border-width:1px;
	font-family:Arial;
	font-size:10pt;
	}
.btn2 {
	margin-top:1%;
	width:15%;
	padding-top:1%;
	padding-bottom:1%;
	border-width:1px;
	border-color:#ab332b;
	border-radius:5px;
	background:rgba(242, 242, 242, 0.8);
	color:#ab332b;
	margin-left:1%;
	}
.btn2:hover {
	color:#fff;
	background-color:#ab332b;
	border-width:1px;
	border-color:#ab332b;
	}
/* закрты divForm */


/* открыт divLenta */
.divLenta {
	overflow:hidden;
	margin-bottom:1%;
	margin-top:1%;
	}
.elem1 p{
	color:#ab332b;
	font-size:20pt;
	font-family:Arial;
	padding-left:10%;
	margin-bottom:1%;
	}
.elem2 {
	margin-left:10%;
	margin-bottom:10%;
	}
.block {
	width:350px;
	height:350px;
	float:left;
	overflow:hidden;
	margin-right:2%;
	margin-top:0%;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	margin-bottom:2%;
	}
.imgBlock {
	width:350px;
	height:110px;
	}
.text1Block {
    background:rgba(255,255,255, 1);
	padding-top:20px;
	width:350px;
	height:240px;
	}
.text1Block a{
	text-decoration: none;
	color:black;
	}
.text1Block h1 {
	font-size:14pt;
	font-family:Arial;
	padding-left:20px;
	padding-right:10px;
	font-weight:200;
	}
.text1Block hr {
	width:70%;
	margin-top:13px;
	margin-bottom:5px;
	margin-left:30px;
	}
.text1Block ul{
	font-family:Arial;
	font-size:11pt;
	padding-top:10px;
	padding-left:30px;
	padding-right:20px;
	color:#808080;
	}
.text2Block {
	font-size:9pt;
	font-family:Arial;
	padding-top:10px;
	padding-left:25px;
	color:#A9A9A9;
	}
.block:hover {
    box-shadow: 0 3px 3px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
	}
.block a:hover {
	color:#e2554b;
	}
#block3 {
	background:#000 url(2.logo/lentablock5.jpg)no-repeat center center;
	background-size:cover;
	}
#block4 {
	background:#000 url(2.logo/m11111.jpg)no-repeat center center;
	background-size:cover;
	}
#block5 {
	background:#000 url(2.logo/lentablock4.jpg)no-repeat center center;
	background-size:cover;
	}
#block6 {
	background:#000 url(2.logo/lentablock9.jpg)no-repeat center center;
	background-size:cover;
	}
#block7 {
	background:#000 url(2.logo/lentablock7.jpg)no-repeat center center;
	background-size:cover;
	}
#block8 {
	background:#000 url(2.logo/lentablock11.jpg)no-repeat center center;
	background-size:cover;
	}
#block9 {
	background:#000 url(2.logo/lentablock6.jpg)no-repeat center center;
	background-size:cover;
	}
#block10 {
	background:#000 url(2.logo/fon1111.png)no-repeat center center;
	background-size:cover;
	}
#block11 {
	background:#000 url(2.logo/pivo1111.jpg)no-repeat center center;
	background-size:cover;
	}
#block12 {
	background:#000 url(2.logo/restoran1111.jpg)no-repeat center center;
	background-size:cover;
	}
#block13 {
	background:#000 url(2.logo/predp1111.jpg)no-repeat center center;
	background-size:cover;
	}
#block14 {
	background:#000 url(2.logo/pc11111.jpg)no-repeat center center;
	background-size:cover;
	}
#block15 {
	background:#000 url(2.logo/bol1111.jpg)no-repeat center center;
	background-size:cover;
	}	
#block16 {
	background:#000 url(2.logo/BK_1111.jpg)no-repeat center center;
	background-size:cover;
	}
#block17 {
	background:#000 url(2.logo/lkn1111.jpg)no-repeat center center;
	background-size:cover;
	}
	
#block18 {
	background:#000 url(2.logo/ped_f1.jpg)no-repeat center center;
	background-size:cover;
	}	
	
/* закрыт divLenta */

/* открыт footer */
.footer{
	background:#28292E;
	width:100%;
	height:80px;
	}
.footer p{
	padding-top:1%;
	padding-left:2%;
	color:#808080;
	font-family:Arial;
	font-size:12pt;
	}
/* закрыт footer */

/* открыт стиль при 1520рх */
@media screen and (max-width:1550px){
.divMenu {
	display:none;
	}
.divMenu3 {
	display:block;
	}
.divFon {
	padding-left:15%;
	padding-right:15%;

	}
.rowForm {
	margin-left:10%;
	margin-right:10%;
	}
}
/* закрыт стиль при 1520рх */

/* открыт стиль при 1250рх */
@media screen and (max-width:1260px){
.divMenu {
	display:none;
	}
.divMenu3 {
	display:none;
	}
.divMenu4 {
	display:block;
	}
.divFon {
	padding-left:15%;
	padding-right:15%;

	}
.rowForm {
	margin-left:10%;
	margin-right:10%;
	}
.elem2 {
	margin-left:5%;
	margin-bottom:0%;
	}
}
/* закрыт стиль при 1250рх */

/* открыт стиль при 1196рх */
@media screen and (max-width:1196px){
.divMenu {
	display:none;
	}
.divMenu3 {
	display:none;
	}
.divMenu4 {
	display:block;
	}
.divFon {
	padding-left:15%;
	padding-right:15%;

	}
.rowForm {
	margin-left:10%;
	margin-right:10%;
	}
.elem1 p {
	padding-left:17%;
	}
.elem2 {
	margin-left:20%;
	margin-bottom:0%;
	}
}
/* закрыт стиль при 1196рх */

/* открыт стиль при 1070рх */
@media screen and (max-width:1070px){
.divMenu {
	display:none;
	}
.divMenu3 {
	display:none;
	}
.divMenu4 {
	display:block;
	}
.divFon {
	padding-left:15%;
	padding-right:15%;

	}
.rowForm {
	margin-left:10%;
	margin-right:10%;
	}
.elem1 p {
	padding-left:10%;
	}
.elem2 {
	margin-left:15%;
	margin-bottom:0%;
	}
}
/* закрыт стиль при 1070рх */

/* открыт стиль при 900рх */
@media screen and (max-width:900px){
.divMenu {
	display:none;
	}
.divMenu3 {
	display:none;
	}
.divMenu4 {
	display:none;
	}
.divLogoMenu {
	display:block;
	}
.divForm {
	display:block;
	}
.divMenu {
	display:none;
	}
.divLogo {
	padding-left:80px;
	padding-top:10px;
	}
.logo {
	width:75px;
	height:70px;
	}
.divLogoMenu {
	display:block;
	float:left;
	}
.divBtn1 {
	float:right;
	padding-top:25px;
	padding-left:25px;
	padding-right:40px;
	}
.divFon {
	padding-top:2%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:2%;
	}
.divForm p {
	text-align:center;
	margin-left:0px;
	margin-right:0px;
	}
.rowForm {
	text-align:center;
	margin:0px;
	}
.form-control {
	width:75%;
	float:none;
	margin-right:0px;
	margin-left:0px;
	}
.form_message {
	width:75%;
	margin-right:0px;
	margin-left:0px;
	}
.btn2 {
	margin-right:0px;
	margin-left:0px;
	}
.elem1 p{
	text-align:center;
	}
.elem2 {
	margin-left:10%;
	margin-bottom:0%;
	}
}
/* закрыт стиль при 900рх */

/* открыт стиль при 830рх */
@media screen and (max-width:830px){
.elem2 {
	margin-left:30%;
	margin-bottom:0%;
	}
}
/*закрыт стиль при 830рх */

/* открыт стиль при 650рх */
@media screen and (max-width:680px){
.elem2 {
	margin-left:25%;
	margin-bottom:0%;
	}
.btn2 {
	margin-top:1%;
	width:15%;
	height:4%;
	border-width:1px;
	border-color:#ab332b;
	border-radius:5px;
	background:rgba(242, 242, 242, 0.8);
	color:#ab332b;
	margin-left:1%;
	}
}
/*закрыт стиль при 650рх */

/* открыт стиль при 560рх */
@media screen and (max-width:560px){
.elem2 {
	margin-left:20%;
	margin-bottom:0%;
	}
}
/*закрыт стиль при 560рх */

/* открыт стиль при 480рх */
@media screen and (max-width:480px){
.elem2 {
	margin-left:15%;
	margin-bottom:0%;
	}
}
/*закрыт стиль при 480рх */